%h1 Statistics

%table
  %tr
    %td
      = @users
    %td
      users

  %tr
    %td
      = @books
    %td
      books

  %tr
    %td
      = @watchings
    %td
      watched books
  
  %tr
    %td
      = @current_loans
    %td
      current loans

  %tr
    %td
      = @loans
    %td
      loans for all time, including current loans
    