!!!5
%html
  %head
    %title Sutton Bookshare
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag

  %body
  
    .access
      %a{ :href => '#main', :accesskey => 's' }<
        Skip to Content
      |
      =link_to_unless_current "Accessibility", { :controller => 'pages', :action => 'accessibility' }, :accesskey => '0'
      |
      =link_to_unless_current "Terms of Service", { :controller => 'pages', :action => 'terms' }, :accesskey => '8'
      |
      =link_to_unless_current "Contact Us", { :controller => 'pages', :action => 'contact' }, :accesskey => '9'
        
    #search
      - form_tag(search_path, :method => :get) do
        = text_field_tag :q, '', { :size => 25, :class => 'bigfield' }
        = submit_tag "Find Books", { :class => 'bigfield' }
        -#
          %br
          = radio_button_tag :type, 'titles', :checked => 'checked'
          titles
          &nbsp;&nbsp;&nbsp;
          = radio_button_tag :type, 'authors'
          authors
        
        
    %h1.logo
      = link_to(image_tag('logo.png'), :controller => 'pages', :action => 'home')
      Sutton Bookshare

    #userbar
      = link_to_unless_current "Home", { :controller => 'pages', :action => 'home' }, :accesskey => '1'
      |
      - if current_user
        = image_tag current_user.gravatar_image_url(25)
        Logged in as
        %strong
          = current_user.login
        |
        = link_to_unless_current "My Books (#{current_user.books.count.to_s})", books_path, :accesskey => '2'
        |
        = link_to_unless_current "Lent (#{current_user.active_loans.count.to_s})", :lent, :accesskey => '3'
        |
        = link_to_unless_current "Borrowed (#{current_user.active_borrowings.count.to_s})", :borrowings, :accesskey => '4'
        |
        = link_to_unless_current "Watch List (#{current_user.watched_books.count.to_s})", :watchlist, :accesskey => '5'
        -#
          |
          = link_to_unless_current "My Account", :account, :accesskey => '6'
        |
        = link_to_unless_current "Log Out", :logout, :method => :delete, :confirm => "Are you sure you want to logout?"
      - else
        = link_to_unless_current "Register", :register
        |
        = link_to_unless_current "Log In", :login
    
    #main
      
      - if flash.notice
        .notice= flash.notice
      -if flash.alert
        .notice.alert= flash.alert
  
      = yield
    
    #footer
      A 
      %a{ :href => "http://www.sutton.gov.uk/" }<
        Sutton Council
      service developed in partnership with 
      %a{ :href => "http://www.nesta.org.uk/" }<
        NESTA
      | 
      %a{ :href => 'http://suttonopenlibrary.wordpress.com/' }
        Sutton Open Library blog
      | 
      %a{ :href => 'http://www.sutton-libraries.gov.uk/' }
        Sutton Libraries

